*{
margin: 0;
padding: 0;
}



header{
    background-color: #A69B8C;
    display: flex;
    justify-content:space-around;
    padding: 24px 0;
}

.cabecalhoitem{

    display: inline-block;
    margin: 0 16px;
    font-size: 20px;
}
.destaque {
    display: inline-block;
}

.destaque p {
    transition: color 0.3s ease;
}

.destaque p:hover {
    color: white;
}

.imagem-container{

overflow: hidden;
}

.imagem{

width: 10%;

transition:transform 0.3s;
}

.imagem:hover{

transform: scale(1.2);



}